@page "/"

@using MudBlazor

<div class="dump-home">
    <div class="share-text dump-home-item">
        Please, share what is dragging you down. Write down the intrusive or unpleasant thoughts that stop you from concentrating.
    </div>

    <div class="fully-anoanimous dump-home-item" style="font-weight: 700;">This is fully anonymous and no data is sent to the server.</div>

    @if (State == Enums.DumpState.ShowingCanvas)
    {
        <div class="dump-home-item" style="font-weight: 700;">Tear gray rectangle!</div>
    }

    @if (State == Enums.DumpState.ConvertingToCanvas
        || State == Enums.DumpState.ShowingCanvas)
    {
        <div class="tearing" style="display: @(State != Enums.DumpState.ShowingCanvas ? "none" : string.Empty)">
            <canvas id="tear-canvas"></canvas>
        </div>
    }

    <div class="dump-text dump-home-item">
        @if (State == Enums.DumpState.PromptingText)
        {
            <MudTextField T="string"
                          Lines="10" Variant="Variant.Outlined"
            @bind-Text="@_dumpText" />
        }

        @if (State == Enums.DumpState.ConvertingToCanvas)
        {
            <div style="position: relative" class="converting-container">
                <div id="rich-text-container" class="converting">
                    <div class="rich-text">
                        @_dumpText
                    </div>
                </div>

                <div class="loading-image-contianer">
                    <img class="loading-image" src="Loading_icon.gif" />
                </div>
            </div>
        }

        @if (State == Enums.DumpState.TearedDown)
        {
            @* Todo: generate by microsoft onnx neural network *@
            <div class="dumping-in-progress">
                You will manage to get through it, I believe in you! Try to concentrate on your current work now.
            </div>
        }

        <div class="dump-home-item">
            @if (State == Enums.DumpState.PromptingText)
            {
                <MudButton Variant="Variant.Filled" OnClick="Dump">
                    Dump, clear my mind
                </MudButton>
            }

            @if (State == Enums.DumpState.TearedDown || State == Enums.DumpState.ShowingCanvas)
            {
                <MudButton Variant="Variant.Filled" Disabled="State != Enums.DumpState.TearedDown" OnClick="Restart">
                    There is something else to share
                </MudButton>
            }
        </div>
    </div>
</div>